@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");

:root {
  --base-500: #a0aec0;
  --base-200: #e2e8f0;
  --base-300: #e2e8f0;
  --base-400: #cbd5e0;
  --main-500: #6366f1;
  --main-400: #7f9cf5;
  --main-200: #c3dafe;
  --main-100: #ebf4ff;
  --solid: #fff;
  --solid-900: #4a5568;
  --sidebar-bg: #edf2f7;
  --sidebar-color: #4a5568;
  --shadow: 0 10px 15px -3px rgba(36, 69, 101, 0.19),
    0 4px 6px -2px rgb(208, 220, 232);
  --shadow-active: 0 0 0 2px currentColor,
    0 10px 15px -3px rgba(36, 69, 101, 0.19), 0 4px 6px -2px rgb(208, 220, 232);
  --opener: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='white' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 24'%3E%3Cpath d='M3 12h18M3 6h18M3 18h18'/%3E%3C/svg%3E");
  --opener-active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='white' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M19 12H5M12 19l-7-7 7-7'/%3E%3C/svg%3E");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
